<a href="https://colab.research.google.com/github/victorncg/tradingcomdados/blob/master/Altas_e_baixas_do_Infomoney.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

import re
from urllib.request import urlopen
from bs4 import BeautifulSoup
import requests

In [ ]:
url = 'https://www.infomoney.com.br/'
response = requests.get(url)

In [ ]:
html = BeautifulSoup(response.text, "html.parser")

In [ ]:
html.find_all('table')

[<table id="table_dolar_bitcoin">
 <tbody></tbody>
 </table>,
 <table id="high">
 <tbody></tbody>
 </table>,
 <table id="low">
 <tbody>
 </tbody>
 </table>]

In [ ]:
low = html.find('table', id = "low")

In [ ]:
pd.DataFrame(low)

      0
0    \n
1  [\n]
2    \n

### Segunda tentativa de webscraping

In [ ]:
url2 = 'https://www.infomoney.com.br/ferramentas/altas-e-baixas/'
response2 = requests.get(url2)

html2 = BeautifulSoup(response2.text, "html.parser")

In [ ]:
html2.find_all('table')

[<table class="default-table" id="altas_e_baixas">
 </table>]

### Terceira tentativa de webscraping

In [ ]:
url = 'https://www.infomoney.com.br/ferramentas/altas-e-baixas/'

In [ ]:
from selenium import webdriver

In [ ]:
import os

In [ ]:
path = os.getcwd()

In [ ]:
path

'C:\\Users\\victo\\Robo_CVM'

In [1]:
## Esse é o caminho do chromedriver na sua máquina:

In [ ]:
driver = path + '\\webdriver\\chromedriver.exe'

In [ ]:
browser = webdriver.Chrome(driver)

Para mais informações, acesse: https://chromedriver.chromium.org/

In [ ]:
browser.get(url)

# 1. Identificar tabela

In [ ]:
browser.find_element_by_xpath('//*[@id="altas_e_baixas"]')

# 2. Clicar na coluna variação diária

Esse é o XPATH para mudar a orientação da coluna

//*[@id="altas_e_baixas"]/thead/tr/th[4]

In [ ]:
browser.find_element_by_xpath('//*[@id="altas_e_baixas"]/thead/tr/th[4]').click()

# 3. Extração da tabela para o python

In [ ]:
tb_din = browser.find_element_by_xpath('//*[@id="altas_e_baixas"]').get_attribute('outerHTML')

df = pd.read_html(tb_din, decimal = ',', thousands = '.')

df[0]

,Ativo,Data,Último (R$),Var. Dia (%),Var. Sem. (%),Var. Mês (%),Var. Ano (%),Var. 12M (%),Val. Mín,Val. Máx,Volume
0,BBDC3,16h32,22.38,-2.53,-1.32,-4.72,-7.02,29.89,22.34,23.00,"81,28 M"
1,BBDC4,16h32,25.48,-2.04,-1.13,-4.74,-5.74,36.77,25.41,26.20,"666,97 M"
2,BRDT3,16h32,22.30,-1.76,0.22,1.00,0.77,46.21,22.24,22.79,"134,84 M"
3,ITUB4,16h32,27.03,-1.53,-0.26,-3.36,-13.65,24.14,26.95,27.63,"524,77 M"
4,BRFS3,16h32,24.37,-1.46,-0.73,-3.37,10.57,37.84,24.32,24.81,"95,51 M"
...,...,...,...,...,...,...,...,...,...,...,...
71,NTCO3,16h32,49.43,2.83,4.50,2.68,-5.85,86.97,48.01,50.09,"162,58 M"
72,QUAL3,16h32,29.46,2.86,1.55,-2.93,-15.78,29.06,28.41,29.53,"58,64 M"
73,USIM5,16h32,17.61,3.22,6.02,2.98,20.53,336.39,17.13,17.84,"308,45 M"
74,CSNA3,16h32,39.07,3.36,6.17,3.09,22.67,497.26,37.90,39.74,"536,2 M"
75,FLRY3,16h32,26.98,4.13,5.02,5.39,2.71,38.76,25.81,27.07,"139,39 M"

In [ ]:
type(df)

list

,Ativo,Data,Último (R$),Var. Dia (%),Var. Sem. (%),Var. Mês (%),Var. Ano (%),Var. 12M (%),Val. Mín,Val. Máx,Volume
0,FLRY3,16h32,26.98,4.13,5.02,5.39,2.71,38.76,25.81,27.07,"139,39 M"
1,CSNA3,16h32,39.07,3.36,6.17,3.09,22.67,497.26,37.90,39.74,"536,2 M"
2,USIM5,16h32,17.61,3.22,6.02,2.98,20.53,336.39,17.13,17.84,"308,45 M"
3,QUAL3,16h32,29.46,2.86,1.55,-2.93,-15.78,29.06,28.41,29.53,"58,64 M"
4,NTCO3,16h32,49.43,2.83,4.50,2.68,-5.85,86.97,48.01,50.09,"162,58 M"
...,...,...,...,...,...,...,...,...,...,...,...
71,BRFS3,16h32,24.37,-1.46,-0.73,-3.37,10.57,37.84,24.32,24.81,"95,51 M"
72,ITUB4,16h32,27.03,-1.53,-0.26,-3.36,-13.65,24.14,26.95,27.63,"524,77 M"
73,BRDT3,16h32,22.30,-1.76,0.22,1.00,0.77,46.21,22.24,22.79,"134,84 M"
74,BBDC4,16h32,25.48,-2.04,-1.13,-4.74,-5.74,36.77,25.41,26.20,"666,97 M"
75,BBDC3,16h32,22.38,-2.53,-1.32,-4.72,-7.02,29.89,22.34,23.00,"81,28 M"